
@{
    ViewData["Title"] = "About";
}

<!-- ABOUT WINE COMPANY -->
<section id="section-about" class="background-colored text-dark" style="background-image:url(../images/pattern/pattern28.jpg);">
    <div class="container">

        <div class="row">
            <div class="col-lg-5">
                <h2 class="text-medium">Zeytinyağı Medeniyetine Hoşgeldiniz.</h2>
                <p>
                    Doğal zeytin ve zeytinyağı ürünlerimiz sizleri bekliyor.
                </p>
            </div>
            <div class="col-lg-7">
                <p class="lead">
                    M.Ö 8.000'li yıllarda Doğu Akdeniz havzasında başlayan tarihsel yolculuğunda zeytin ve zeytinyağının insanoğlu için faydaları saymakla bitmez. Eski medeniyetlerin Tanrılarına zeytin dalı sunacak kadar kutsal gördüğü doğa ananın bu mucizesi hala sofralarımızı renklendirmeye devam etmektedir. Şifa kaynağı bu meyve ve meyve suyunun en doğal ve lezzetli hâline ulaşmak için bizi takip edin.
                </p>
                <p>1lt natürel sızma zeytinyağı elde etmek için zeytinin türüne ve yetiştiği bölgeye bağlı olarak ortalama 5-6 kg zeytin kullanılır. Soğuk sıkım olması durumunda bu rakam 7-9 kg'ye kadar çıkmaktadır. Zeytin yeşil, pembe ve siyah olmak üzere 3 evreden oluşmaktadır. En değerlisi olan yeşil dönemde (erken hasat) toplanan zeytinlerden el edilen, bulunduğu bahçenin bütün aromalarını bünyesinde barındıran yeşil renkli yağdır. En değerli olan bu dönemde zeytinin yağ kapasitesi düşük olduğundan 10-12 kg yağdan 1 lt yağ elde edilmektedir.</p>

                <p>
                    Ne yediğimizi bilmek gerçekten önemli. Şimdi marketlerde sıklıkla karşılaştığınız zeytinyağlarının ne anlama geldiğine bakalım;
                    1- Natürel sızma zeytinyağı: Doğrudan tüketime uygun, serbest yağ asitliği oleik asit cinsinden her 100 gramda 0,8 gramdan fazla olmayan yağlar,
                    2) Natürel birinci zeytinyağı: Doğrudan tüketime uygun, serbest yağ asitliği oleik asit cinsinden her 100 gramda 2,0 gramdan fazla olmayan yağlar,
                    3) Rafine zeytinyağı: Ham zeytinyağının doğal trigliserid yapısında değişikliğe yol açmayan metotlarla rafine edilmeleri sonucu elde edilen ve serbest yağ asitliği oleik asit cinsinden her 100 gramda 0,3 gramdan fazla olmayan yağdır.
                    4) Riviera zeytinyağı: Rafine zeytinyağı ile doğrudan tüketime uygun natürel zeytinyağları karışımından oluşan ve serbest yağ asitliği oleik asit cinsinden her 100 gramda 1,0 gramdan fazla olmayan yağdır.

                    Bu tanımlarda da görüldüğü üzere 3. ve 4. sıradaki yağlar refine edildiğinden daha doğrusu doğal yapısı bozulduğundan kullanılması tavsiye edilmiyor. Bu yağların asitlik düzeyi bir takım kimyasal işlemler neticesinde düşürülmektedir. Buradan da anlayacağımız üzere asiditesi düşük olan her yağ iyi yağ değildir. Yağı duyusal açıdan bir bütün olarak değerlendirmek gerekir
                </p>
            </div>

        </div>
    </div>
</section>
<!-- end: ABOUT WINE COMPANY -->
