@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="height:500px; margin-top:50px;">
    <div class="col-md-6">
        <div>
            <img src="images/OliveOil.jpg" />
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <img src="images/OliveOil2.jpg" />
        </div>
    </div>
</div>
