@{
    ViewData["Title"] = "Home Page";
}

<!-- SECTION IMAGE FULLSCREEN -->
<section class="fullscreen " data-bg-parallax="images/Olive-Background-1.jpg">
    <div class="container">
        <div class="container-fullscreen">
            <div class="text-middle text-light text-right">

                <div class="row">
                    <div class="col-lg-6">
                        <img src="images/wine.png" class="img-rensponsive">
                    </div>
                    <div class="col-lg-6 text-center p-t-200">
                        <img src="images/polo-wine-title.png" class="img-rensponsive m-b-40">
                        <p class="lead text-light m-b-20">Facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius.</p>
                        <button class="btn btn-outline btn-light">Explore more</button>
                    </div>
                </div>
                <div class="scrolldown-animation" id="scroll-down">
                    <a class="scroll-to" href="#easy-fast">
                        <img src="images/scrolldown.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: SECTION IMAGE FULLSCREEN -->
<!-- ABOUT WINE COMPANY -->
<section id="section-about" class="background-colored text-dark" style="background-image:url(images/pattern/pattern28.jpg);">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <h2 class="text-medium">Welcome to Polo Wine</h2>
                <p>
                    The heart of Lorem Ipsum
                    <br />wine country
                </p>
            </div>
            <div class="col-lg-8">
                <p class="lead">
                    The history of grape growing in the Marlborough region dates back to the late 1800s. And today we are proud to offer some of New Zealand’s best wines.
                </p>
                <p>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.</p>

                <p>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.</p>
            </div>

        </div>
    </div>
</section>
<!-- end: ABOUT WINE COMPANY -->
<!-- Shop products CAROUSEL -->
<section id="section-products">
    <div class="container">
        <div class="text-medium text-center m-b-40">Wine Products</div>
        <div class="carousel shop-products" data-margin="20">
            <div class="product">
                <div class="product-image">
                    <a href="#">
                        <img alt="Shop product image!" src="images/products/1.jpg">
                    </a>
                    <a href="#">
                        <img alt="Shop product image!" src="images/products/6.jpg">
                    </a>
                    <span class="product-new">NEW</span>
                    <span class="product-wishlist">
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </span>
                    <div class="product-overlay">
                        <a href="page-ajax-shop-wine-product.html" data-lightbox="ajax">Quick View</a>
                    </div>
                </div>

                <div class="product-description">
                    <div class="product-category">Red Wine</div>
                    <div class="product-title">
                        <h3><a href="#">Bolt SweaWine</a></h3>
                    </div>
                    <div class="product-price">
                        <ins>$15.00</ins>
                    </div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="product-reviews">
                        <a href="#">6 customer reviews</a>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-image">
                    <a href="#">
                        <img alt="Shop product image!" src="images/products/2.jpg">
                    </a>
                    <a href="#">
                        <img alt="Shop product image!" src="images/products/4.jpg">
                    </a>
                    <span class="product-wishlist">
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </span>
                    <div class="product-overlay">
                        <a href="page-ajax-shop-wine-product.html" data-lightbox="ajax">Quick View</a>
                    </div>
                </div>

                <div class="product-description">
                    <div class="product-category">Red Wine</div>
                    <div class="product-title">
                        <h3><a href="#">Consume Wine</a></h3>
                    </div>
                    <div class="product-price">
                        <ins>$39.00</ins>
                    </div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="product-reviews">
                        <a href="#">3 customer reviews</a>
                    </div>
                </div>

            </div>
            <div class="product">
                <div class="product-image">
                    <a href="#">
                        <img alt="Shop product image!" src="images/products/3.jpg">
                    </a>
                    <a href="#">
                        <img alt="Shop product image!" src="images/products/5.jpg">
                    </a>
                    <span class="product-wishlist">
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </span>
                    <div class="product-overlay">
                        <a href="page-ajax-shop-wine-product.html" data-lightbox="ajax">Quick View</a>
                    </div>
                </div>

                <div class="product-description">
                    <div class="product-category">Wine</div>
                    <div class="product-title">
                        <h3><a href="#">Logo Wine</a></h3>
                    </div>
                    <div class="product-price">
                        <ins>$39.00</ins>
                    </div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="product-reviews">
                        <a href="#">3 customer reviews</a>
                    </div>
                </div>

            </div>
            <div class="product">
                <div class="product-image">
                    <a href="#">
                        <img alt="Shop product image!" src="images/products/4.jpg">
                    </a>
                    <a href="#">
                        <img alt="Shop product image!" src="images/products/6.jpg">
                    </a>
                    <span class="product-wishlist">
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </span>
                    <div class="product-overlay">
                        <a href="page-ajax-shop-wine-product.html" data-lightbox="ajax">Quick View</a>
                    </div>
                </div>

                <div class="product-description">
                    <div class="product-category">Red Wine</div>
                    <div class="product-title">
                        <h3><a href="#">Cotton Wine</a></h3>
                    </div>
                    <div class="product-price">
                        <ins>$22.00</ins>
                    </div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="product-reviews">
                        <a href="#">5 customer reviews</a>
                    </div>
                </div>

            </div>
            <div class="product">
                <div class="product-image">
                    <a href="#">
                        <img alt="Shop product image!" src="images/products/5.jpg">
                    </a>
                    <a href="#">
                        <img alt="Shop product image!" src="images/products/1.jpg">
                    </a>
                    <span class="product-wishlist">
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </span>
                    <div class="product-overlay">
                        <a href="page-ajax-shop-wine-product.html" data-lightbox="ajax">Quick View</a>
                    </div>
                </div>

                <div class="product-description">
                    <div class="product-category">Wine</div>
                    <div class="product-title">
                        <h3><a href="#">Grey SweaWine</a></h3>
                    </div>
                    <div class="product-price">
                        <ins>$39.00</ins>
                    </div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="product-reviews">
                        <a href="#">5 customer reviews</a>
                    </div>
                </div>

            </div>
            <div class="product">
                <div class="product-image">
                    <a href="#">
                        <img alt="Shop product image!" src="images/products/6.jpg">
                    </a>
                    <a href="#">
                        <img alt="Shop product image!" src="images/products/2.jpg">
                    </a>
                    <span class="product-wishlist">
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </span>
                    <div class="product-overlay">
                        <a href="page-ajax-shop-wine-product.html" data-lightbox="ajax">Quick View</a>
                    </div>
                </div>

                <div class="product-description">
                    <div class="product-category">Red Wine</div>
                    <div class="product-title">
                        <h3><a href="#">Pocket Wine</a></h3>
                    </div>
                    <div class="product-price">
                        <del>$19.00</del><ins>$15.00</ins>
                    </div>
                    <div class="product-rate">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="product-reviews">
                        <a href="#">5 customer reviews</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<!--END: Shop products CAROUSEL -->
<!-- REVIEWS -->
<section id="section-reviews" class="parallax p-t-150 p-b-100" style="background: url('images/parallax/2.jpg');">
    <div class="container">
        <div class="text-medium text-center m-b-40 text-light ">Our Testimonials</div>
        <!-- Testimonials -->
        <div class="carousel arrows-visibile testimonial testimonial-single" data-items="1" data-loop="true" data-autoplay="true" data-autoplay="3500" data-arrows="false">

            <!-- Testimonials item -->
            <div class="testimonial-item text-light ">
                <img src="images/team/6.jpg" alt="">
                <p>Polo is by far the most amazing template out there! I literally could not be happier that I chose to buy this template!</p>
                <span>Alan Monre</span>
                <span>CEO, Square Software</span>
            </div>
            <!-- end: Testimonials item-->
            <!-- Testimonials item -->
            <div class="testimonial-item text-light ">
                <img src="images/team/7.jpg" alt="">
                <p>Polo is by far the most amazing template out there! I literally could not be happier that I chose to buy this template!</p>
                <span>Alan Monre</span>
                <span>CEO, Square Software</span>
            </div>
            <!-- end: Testimonials item-->
            <!-- Testimonials item -->
            <div class="testimonial-item text-light ">
                <img src="images/team/8.jpg" alt="">
                <p>The world is a dangerous place to live; not because of the people who are evil, but because of the people who don't do anything about it.</p>
                <span>Alan Monre</span>
                <span>CEO, Square Software</span>
            </div>
            <!-- end: Testimonials item-->

        </div>
        <!-- end: Testimonials -->
    </div>
</section>
<!-- end: REVIEWS -->
<!-- PARALLAX -->
<section id="section-blog" class="background-grey p-t-150 p-b-150">

    <div class="container">
        <div class="text-medium text-center p-b-40">Blog</div>
        <div id="blog" class="grid-layout post-3-columns m-b-30" data-item="post-item">

            <!-- Post item-->
            <div class="post-item border">
                <div class="post-item-wrap">
                    <div class="post-image">
                        <a href="#">
                            <img alt="" src="images/gallery/6.jpg">
                        </a>
                        <span class="post-meta-category"><a href="">Lifestyle</a></span>
                    </div>
                    <div class="post-item-description">
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                        <h2>
                            <a href="#">
                                Standard post with a single image
                            </a>
                        </h2>
                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>
            <!-- end: Post item-->
            <!-- Post item-->
            <div class="post-item border">
                <div class="post-item-wrap">
                    <div class="post-image">
                        <a href="#">
                            <img alt="" src="images/gallery/7.jpg">
                        </a>
                        <span class="post-meta-category"><a href="">Science</a></span>
                    </div>
                    <div class="post-item-description">
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>

                        <h2>
                            <a href="#">
                                Standard post with a single image
                            </a>
                        </h2>
                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>
            <!-- end: Post item-->
            <!-- Post item-->
            <div class="post-item border">
                <div class="post-item-wrap">
                    <div class="post-image">
                        <a href="#">
                            <img alt="" src="images/gallery/9.jpg">
                        </a>
                        <span class="post-meta-category"><a href="">Science</a></span>
                    </div>
                    <div class="post-item-description">
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>

                        <h2>
                            <a href="#">
                                Standard post with a single image
                            </a>
                        </h2>
                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>
            <!-- end: Post item-->
        </div>
    </div>
</section>
<!-- PARALLAX -->
