<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Kilikya Olive</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>


    <!-- Body Inner -->
    <div>

        <!--HEADER-->
        <header id="header" data-transparent="true" class="dark header-logo-center">
            <div class="header-inner" style="background-color:olive;">
                <div class="container">
                    <!--Logo-->
                    @*<div id="logo">
                        <img src="images/Kilikya_son.jpg" />
                    </div>*@
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <!--Left Menu-->
                                <ul>
                                    <li><a asp-action="Index" asp-controller="Home">Anasayfa</a></li>
                                    <li><a asp-action="GetProducts" asp-controller="Product" asp-route-productGroupId="1">Zeytin</a></li>
                                    <li><a asp-action="GetProducts" asp-controller="Product" asp-route-productGroupId="1">Zeytin Yağı</a></li>
                                </ul>
                                <!--Right Menu-->
                                <ul>
                                    <li><a asp-action="About" asp-controller="Home">Hakkımızda</a></li>
                                    <li><a asp-action="Blog" asp-controller="Home">Blog</a></li>
                                    <li><a asp-action="Login" asp-controller="Login">Login</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!--END: HEADER-->

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <!-- PRE-FOOTER -->
        <section id="section-contact" class="background-grey p-t-40 p-b-0">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="far fa-clock"></i></a>
                            </div>
                            <h3>Working Days</h3>
                            <p>
                                <strong>Monday - Friday</strong>
                                <br>10:00 AM - 11:00 PM
                            </p>
                            <p>
                                <strong>Saturday - Sunday</strong>
                                <br>10:00 AM - 04:00 PM
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fa fa-map-marker-alt"></i></a>
                            </div>
                            <h3>Our Location</h3>
                            <p>
                                <strong>Polo Wine Address:</strong>
                                <br> 795 Folsom Ave, Suite 600
                                <br> San Francisco, CA 94107
                                <br>
                                <br>
                            </p>
                        </div>
                    </div>



                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fa fa-phone"></i></a>
                            </div>
                            <h3>Contact</h3>
                            <p>
                                <strong>Phone:</strong>
                                <br> (123) 456-7890
                                <br> (987) 654-3210
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: PRE-FOOTER -->
        <!-- FOOTER -->
        <footer class="background-grey" id="footer">
            <div class="copyright-content">
                <div class="container">
                    <div class="row">
                        <div class="copyright-text text-center">
                            &copy; 2016 POLO - Best HTML5 Template Ever. All Rights Reserved. <a href="//www.inspiro-media.com" target="_blank" rel="noopener">INSPIRO</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: FOOTER -->



    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop" class="scroll-to" href="body"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>

    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>

    <!--Template functions-->
    <script src="js/functions.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>