
@{
    ViewData["Title"] = "Register";
}

<!-- Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a asp-action="Index" asp-controller="Home" class="logo">
                    <img src="../images/Kilikya_son.jpg">
                </a>
            </div>
            <div class="col-md-8">
                <form class="form-transparent-grey">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Yeni Kayıt Oluştur</h3>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="sr-only">First Name</label>
                            <input type="text" value="" placeholder="First Name" class="form-control">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="sr-only">Last Name</label>
                            <input type="text" value="" placeholder="Last Name" class="form-control">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="sr-only">Username</label>
                            <input type="text" value="" placeholder="Username" class="form-control">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="sr-only">Password</label>
                            <input type="password" value="" placeholder="Password" class="form-control">
                        </div>
                        <div class="col-lg-12 form-group">
                            <label class="sr-only">Address</label>
                            <input type="text" value="" placeholder="Address" class="form-control">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="sr-only">Apartment, suite, unit etc.</label>
                            <input type="text" value="" placeholder="Apartment, suite, unit etc." class="form-control">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="sr-only">Town / City</label>
                            <input type="text" value="" placeholder="Town / City" class="form-control">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="sr-only">State / County</label>
                            <input type="text" value="" placeholder="State / County" class="form-control">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="sr-only">Postcode / Zip</label>
                            <input type="text" value="" placeholder="Postcode / Zip" class="form-control">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="sr-only">Email</label>
                            <input type="text" value="" placeholder="Email" class="form-control">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="sr-only">Phone</label>
                            <input type="text" value="" placeholder="Phone" class="form-control">
                        </div>
                        <div class="col-lg-12 form-group">
                            <button class="btn" type="button">Kayıt Ol</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- end: Section -->
